:root {
  --logo: #fbb612;
  --primary: rgb(239, 239, 239);
  --sec: #151411b9;
  --errorText: #f00909e1;
  --errorBg: #c74b4b7c;
  --title: #ec3028;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}
